:root {
  --main: #40bad5;
  --secondary: #f3c623;
  --grey: #3f3f44;
  --green: #21bf73;
  --service: #e9f2f5;
}

html {
	font-family: 'Exo 2', sans-serif;
	scroll-behavior: smooth;
}

/* GLOBAL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 30px;
	color: var(--main);
}

h3 {
	font-size: 18px;
	font-weight: 400;
	color: var(--grey);
}

.container {
	margin: auto;
	width: 80vw;
}

/* ===== HEADER ===== */

header .container {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 60px;
}

.call-button {
	display: flex;
	align-items: center;
}

.call-button a {
	padding: 10px;
	text-decoration: none;
	display: flex;
	align-items: center;
	border-radius: 10px;
	background-color: var(--service);
}

.call-button a:hover {
	background-color: var(--secondary);
}

.call-button i {
	margin-right: 10px;
	color: var(--green);
	font-size: 25px;
}

.call-details {
	display: block;
}

.call-num p {
	color: var(--grey);
	font-weight: 600;
}

.call-action p {
	font-size: 14px;
	color: var(--grey);
	text-align: center;
}

/* Call modal window */

.call-form {
	/*visibility: hidden;*/
	visibility: hidden;
	background: rgba(77, 77, 77, .7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: +1;
}

.call-form:target {
	visibility: visible;
}

.call-form-window {
    width: 500px;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	z-index: +1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close-button {
	position: absolute;
	top: 0;
	right: 10px;
}

.close-button a {
	text-decoration: none;
	font-size: 25px;
	font-weight: 700;
	color: var(--main);
}

.close-button a:hover {
	color: var(--grey);
}

.call-form-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.call-form-content h3 {
	text-align: center;
	width: 75%;
	font-size: 14px;;
}

.call-form form {
	margin: 20px 0;
	width: 80%;
	max-height: 500px;
	display: flex;
	flex-direction: column;
}

.call-form form label {
	display: flex;
	justify-content: flex-start;
	margin: 5px 0 5px 5px;
	color: var(--grey);
	font-weight: 600;
}

.call-form form input, .call-form form textarea {
	outline: none;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	padding: 10px 10px;
	max-width: 100%;
}

.call-form form button {
	text-decoration: none;
	padding: 10px 20px;
	background-color: var(--secondary);
	border-radius: 10px;
	color: var(--grey);
	font-weight: 600;
	width: 50%;
	margin: 20px 25% 0 25%;
	border: none;
	outline: none;
}

.call-form form button:hover {
	background-color: var(--main);
	color: #fff;
	cursor: pointer;
	transition: .4s;
}



nav ul {
	display: flex;
	align-items: center;
}

nav li {
	list-style-type: none;
	margin: 10px;
}

nav a {
	text-decoration: none;
	color: var(--grey);
	font-weight: 700;
	transition: .4s;
}

nav a:hover {
	color: var(--main);
}

/* ===== INTRO ===== */

#intro .container {
	padding-top: 50px;
	min-height: 70vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.intro-left {
	margin: auto;
	padding-left: 20px;
}

.intro-list li {
	display: flex;
	align-items: center;
	margin: 10px;
}

.intro-list i {
	font-size: 14px;
	color: var(--green);
	margin-right: 10px;
}

.intro-order {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.intro-order a {
	text-decoration: none;
	padding: 10px 20px;
	background-color: var(--secondary);
	border-radius: 10px;
	color: var(--grey);
	font-weight: 600;
	transition: .4s;
}

.intro-order a:hover {
	background-color: var(--main);
	color: #fff;
}

.intro-image img {
	height: 450px;
}

/* ===== SERVICES ===== */

#services {
	margin-top: 50px;
	background-color: var(--service);
}

#services .container {
	padding: 50px 0;
}

.services-title h2 {
	text-align: center;
}

.services-description {
	width: 1000px;
	margin: auto;
}

.services-description h3 {
	margin-top: 20px;
	text-align: center;
}

.services-list {
	margin: 20px 0;
}

.services-row {
	display: flex;
	justify-content: space-around;
}

.service-card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	margin: 20px;
}

.service-card i {
	color: var(--main);
	font-size: 50px;
	display: flex;
	justify-content: center;
}

.srv-card-title p {
	font-size: 20px;
	font-weight: 600;
	color: var(--grey);
	text-align: center;
	margin: 10px;
}

.srv-card-description {
	margin: auto;
	width: 90%;
}

.srv-card-description p {
	text-align: center;
	margin-bottom: 10px;
}

.srv-card-button {
	margin: 10px;
	display: flex;
	justify-content: center;
}

.srv-card-button a {
	text-decoration: none;
	padding: 10px 20px;
	background-color: var(--secondary);
	border-radius: 10px;
	color: var(--grey);
	font-weight: 600;
	transition: .4s;
}

.srv-card-button a:hover {
	background-color: var(--main);
	color: #fff;
}

/* Services modal window */

.service-modal {
	/*visibility: hidden;*/
	visibility: hidden;
	background: rgba(77, 77, 77, .7);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: +1;
}

.service-modal:target {
	visibility: visible;
}

.service-modal-window {
    width: 900px;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	z-index: +1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.service-modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.service-modal-content h3 {
	text-align: center;
	width: 75%;
	font-size: 14px;;
}

/* smm modal */
.smm-modal-row {
	display: flex;
	justify-content: center;
}
.smm-modal-card {
	align-items: center;
	margin: 10px;
	border: 1px solid var(--service);
	border-radius: 10px;
	padding: 10px;
	width: 45%;
}

.smm-card-img {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.smm-modal-card img {
	margin-right: 10px;
	height: 30px;
}

.smm-card-img p {
	font-weight: 600;
	font-size: 16px;
}

.smm-card-description p {
	font-size: 14px;
}

/* ===== RESULTS ===== */

#results .container {
	padding: 50px 0;
}

.results-title h2 {
	text-align: center;
}

.results-description {
	width: 1000px;
	margin: auto;
}

.results-description h3 {
	margin-top: 20px;
	text-align: center;
}

.results-row {
	margin: 10px 0;
	display: flex;
	justify-content: center;
}

.result-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--service);
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
}

.result-card img {
	height: 120px;
}

.res-card-title p {
	text-align: center;
	color: var(--grey);
	font-size: 18px;
	font-weight: 600;
}

.res-card-description p {
	text-align: center;
	color: var(--grey);
	font-size: 16px;
	font-weight: 400;
}

.res-card-full p:first-child {
	text-align: center;
	color: var(--grey);
	font-size: 16px;
	font-weight: 600;
	background-color: var(--secondary);
	border-radius: 10px;
	padding: 3px 10px;
	margin: 10px 0;
}

.res-card-stats {
	display: flex;
	justify-content: center;
}

.res-card-stat p:first-child {
	text-align: center;
	color: var(--grey);
	font-size: 25px;
	font-weight: 700;
	background-color: #fff;
	padding: 3px 10px;
	margin: 0;
}

.res-card-stat p:last-child {
	text-align: center;
	color: var(--grey);
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	padding: 3px 10px;
	margin: 0
}

/* Gallery */

.res-gallery h2 {
	text-align: center;
} 

.res-gallery h3 {
	text-align: center;
	margin: 10px 0 20px;
}

.res-gallery-row {
	display: flex;
	justify-content: space-between;
}

.res-gallery-card {
	height: 300px;
}

.res-gallery-card img {
	height: 250px;
	border: 1px solid var(--service);
}

.res-gallery-card img:hover {
	height: 260px;
	border: 1px solid var(--service);
}

/* ===== REVIEWS ===== */

#reviews {
	padding-bottom: 50px;
}

#reviews .reviews {
	display: flex;
	justify-content: center;
}

#reviews h2 {
	text-align: center;
}

#reviews h3 {
	text-align: center;
}

.review-card {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border: 1px solid var(--service);
	border-radius: 10px;
	margin: 20px;
}

.review-photo img {
	height: 70px;
}

.review-name p {
	font-size: 18px;
	font-weight: 600;
}

.review-position p {
	margin-bottom: 10px;
	text-align: center;
}

.review-help {
	background-color: var(--service);
	border-radius: 10px;
	padding: 5px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.review-help img {
	height: 25px;
	margin: 5px;
}

.review-text {
	margin-top: 10px;
}

/* ===== CALL ===== */

#call {
	padding-bottom: 50px;
}

#call h2 {
	text-align: center;
	margin-bottom: 30px;
}

#call .call-button {
	display: flex;
	justify-content: center;
}

#call .call-button a {
	padding: 25px;
	text-decoration: none;
	display: flex;
	align-items: center;
	border-radius: 10px;
	background-color: var(--secondary);
}

#call .call-button a:hover {
	background-color: var(--main);
}

#call .call-button i {
	margin-right: 10px;
	color: var(--green);
	font-size: 35px;
}

#call .call-details {
	display: block;
}

#call .call-num p {
	color: var(--grey);
	font-weight: 600;
	font-size: 20px;
}

#call .call-action p {
	font-size: 20px;
	color: var(--grey);
	text-align: center;
}

#call h3 {
	text-align: center;
	margin-top: 20px;
}

.call-messengers {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.call-messengers a {
	margin: 10px;
}

.call-messengers img {
	height: 40px;
}


/* ===== FOOTER ===== */

footer {
	background-color: var(--service);
}

footer .container {
	padding: 70px 0 50px 0;
	display: flex;
	align-items: flex-start;
}

footer nav {
	width: 33%;
}

footer nav ul {
	display: flex;
	flex-direction: column;
}

footer nav ul li {
	margin: 5px;
}



.payment {
	width: 33%;
	margin: auto;
}

.payment p {
	text-align: center;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--grey);
}

.methods {
	display: flex;
	justify-content: center;
}

.method {
	margin: 5px;
	height: 40px;
	width: 80px;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.method img {
	height: 40px;
}

.footer-contacts {
	width: 33%;
}

.social-title {
	width: 200px;
	text-align: center;
	margin: auto;
}

.social-title {
	color: var(--grey);
	font-weight: 600;
}

.social {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.social a {
	margin: 5px;
}

.social img {
	height: 25px;
}

.copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.copyright p {
	text-align: center;
	color: var(--grey);
	font-size: 14px;
}